# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
# C extensions
*.so
*.pyd

logs/

kurisu

test

.env

Haru
haru_greeter_pro_jp
hiyori
hiyori_pro_zh
speaker

config.toml

.vscode

config.json

config_chun.toml
config_neuro.toml
*.zip
Head/Brain/Memory