# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
# C extensions
*.so
*.pyd

logs/

kurisu

test

.env

Haru

hiyori

speaker

config.toml

.vscode/

config.json

config_chun.toml
config_neuro.toml