live2d-py
pyqt6==6.8.0
langchain
langchain-community
langchain-openai
langchain-ollama
langchain_anthropic
pydantic
pydantic_settings
openai
chroma-db
faiss-cpu
pydantic
python-dotenv
llama-cpp-python
toml
pyaudio
# 测试客户端依赖
streamlit
requests
websocket-client
numpy
sounddevice
audio-recorder-streamlit
fastapi
uvicorn
funasr
soundfile
modelscope
loguru
RealtimeTTS[azure,edge,kokoro]
# 新增的依赖
dotmap
dataclasses-json
pywin32
